extends layout

block content
  p put the shit here my dude

  .form-group
    .form#uploadForm(ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
      .input-group
        input.form-control(type="file", name="sound")
        input.form-control(type="submit", value="Upload!")
    
  .container(id='list')
    each sound in sounds
      .col-md-1
        a=sound
