extends layout

block content
  script.
    jQuery(document).ready(function ($) {
      $("#input-id").fileinput();
    }
  
  h3 put the shit here my dude

  .form.form-inline(ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
    input.file(id='input-id' type="file", name="sound")
    input.btn.btn-default(type="submit", value="Upload!")
  
  .input-group
    label.input-group-btn
      span.btn.btn-primary Browse&hellip;
        input(type="file" style="display: none;" multiple)
    input.form-control(type="text" readonly)
  
      //- <div class="input-group">
      //-     <label class="input-group-btn">
      //-         <span class="btn btn-primary">
      //-             Browse&hellip; <input type="file" style="display: none;" multiple>
      //-         </span>
      //-     </label>
      //-     <input type="text" class="form-control" readonly>
      //- </div>
  
  .container(id='list')
    each sound in sounds
      .col-md-1
        a=sound
