extends layout

block content
  h3 put the shit here my dude

  .form.form-inline(ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
    .form-group
      .input-group
        input.form-control(type="file", name="sound")
        input.btn.btn-default(type="submit", value="Upload!")
    
  .container(id='list')
    each sound in sounds
      .col-md-1
        a=sound
