extends layout

block content
  h3 put the shit here my dude

  .form.form-inline#uploadForm(ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
    .form-group
      input(type="file", name="sound")
    .form-group    
      input.btn-primary(type="submit", value="Upload!")
    
  //- .container(id='list')
  //-   each sound in sounds
  //-     .col-md-2
  //-       a=sound
